{% extends "base2.html" %}

{% block content %}
<div class="page__body">
    <div class="page__region clearfix">
        <div class="body-content clearfix">
            <div class="body-content__inner">
                <main id="content" class="region">
                    <div class="region region-content">
                        <div class="random__controls">
                            <a href="https://citaty.info/random" class="random__control-next">Другая цитата</a>
                        </div>
                        <p>
                        </p>
                        <div class="random__quote" id="random-quote">
                            <div class="field-items">
                                <article id="node-535019" class="node node-quote-book node-teaser clearfix rating-canvas-processed quote-actions-processed">
                                    <div class="node__content">
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even last">
                                                    <p>
                                                        {{theme}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field field-type-taxonomy-term-reference field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                    <a title="Автор цитаты">
                                                        {{author}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock %}